body {
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 15px solid rgb(24, 24, 24);
    margin: 0 auto;
}

main{
    margin: 0 auto;
    width: 1000px;
}

img {
    width: 300px;
}

.images {
    display: flex;
    padding: 20px;
    gap: 25px;
}

.images-2 {
    display: flex;
    padding: 20px;
    gap: 25px;
}

.images-3 {
    display: flex;
    padding: 20px;
    gap: 25px;
}