body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 15px solid rgb(24, 24, 24);
    margin: 0 auto;
}

h1 {
    margin-left: 20px;
    font-weight: bold;
    margin-bottom: -10px;
    text-align: center;
}

main{
    margin: 0 auto;
    width: 1000px;
}

img {
    width: 300px;
    border-radius: 10px;
}

.images {
    display: flex;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}

.images-2 {
    display: flex;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}

.images-3 {
    display: flex;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}